.gallery{
    width: 90%;
    max-width: 300px;
    text-align: center;
    border: 1px solid $black;
    border-radius: 5px;
    margin: 2em auto;
    background: $gallery-card;
    img{
        margin: 1em auto;
        border-radius: 50%;
    } 
    p{
        color: $black;
    }   
}

.gallery:hover{
    transition: 1s;
    background: $gallery-card-hover;
}

@include media-query($desktop-view){
    .gallery{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 320px;
        width: 240px;
        img{
            height: 50px;
            width: 50px;
            margin: 20px 0 20px 0;
        }
        .gallery-person-info{
            margin: 0 2px 0 0;
            p{
                font-size: 11px;
            }
        }
    }
}

@include media-query($big-desktop-view){
    .gallery{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 320px;
        width: 270px;
        padding: 20px;
        img{
            height: 60px;
            width: 60px;
            margin: 20px 15px 20px 0;
        }
        .gallery-person-info{
            margin: 0 2px 0 0;
            p{
                font-size: 12px;
            }
        }
    }
}